@import url('https://necolas.github.io/normalize.css/7.0.0/normalize.css');
@import url('https://goodies.pixabay.com/javascript/auto-complete/auto-complete.css');

* {
    box-sizing: border-box;
    // font-family: $font-stack-primary;
    font-family: 'Carrois Gothic', sans-serif;
}

h3 {
    font-weight: 100;
    padding: pem(8);
    color: $boulder;
}

a {
    text-decoration: none;
    color: $site-secondary;
}