.dropdown {
    display: inline-block;
    position: relative;
    @include e('content') {
        display: none;
        visibility: hidden;
        opacity: 0;

        @include m('active') {
            position: absolute;
            top: 80%;
            left: -800%;
            display: flex;
            flex-direction: column;
            visibility: visible;
            opacity: 1;
            display: inline-block;
            color: black;
            background: white;
            border-radius: pem(6);
            border: thin solid $site-primary;
            @include mq('lg') {
                padding: pem(6);
                width: pem(300);
            }
        }
    }

    @include e('item') {
        display: block;
        border-bottom: thin solid black;
        @include mq('lg') {
            padding: pem(5) 0;
            font-size: pem(13);
        }
        &:last-child {
            border: none;
        }
        &:hover {
            cursor: pointer;
            color: white;
            background: $site-secondary;
        }
    }
}