.icon {
  @include m('close') {
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: attr(id);
      font-weight: 800;
      color: white;
    }
  }

  @include m('notifications') {
    margin: pem(6) auto;
    &:hover {
      cursor: pointer;
    }

    width: auto;
    height: pem(18);

    @include mq('lg') {
      width: auto;
      height: pem(20);
    }
  }

  @include m('new-notifications') {
    margin: pem(6) auto;
    &:hover {
      cursor: pointer;
    }

    width: auto;
    height: pem(18);

    @include mq('lg') {
      width: auto;
      height: pem(20);
    }
  }
}

.notification {
  position: relative;
  @include e('signal') {
    top: -10%;
    right: -40%;
    position: absolute;
    fill: #77b988;
    &:hover {
      cursor: pointer;
    }
  }
}
