.members {
  @include e('new') {
    border-bottom: thin solid $ship-cove;

    @include mq('lg') {
      border-top: thin solid $ship-cove;
      border-bottom: thin solid $ship-cove;
      border-right: thin solid $ship-cove;
      grid-area: new;
    }
  }
  @include e('recent') {
    border-bottom: thin solid $ship-cove;

    @include mq('lg') {
      border-top: thin solid $ship-cove;
      border-bottom: thin solid $ship-cove;
      grid-area: recent;
    }
  }
  @include e('list') {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
  @include e('item') {
    align-self: center;
    width: 95%;
    display: flex;
    margin-bottom: pem(16);
    padding-bottom: pem(8);
    border-bottom: thin solid $site-secondary;
    font-size: pem(12);
    @include mq('lg') {
      font-size: pem(16);
    }
    &:last-child {
      border: none;
    }
  }
  @include e('container') {
    display: flex;
  }
  @include e('details') {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  @include e('update') {
    display: flex;
    flex-direction: column;
  }
  @include e('avy') {
    border-radius: 50%;

    width: auto;
    height: pem(45);
    margin-right: pem(8);

    @include mq('lg') {
      margin-right: pem(8);
    }
  }
  @include e('date') {
    align-self: flex-end;
  }

  
}
