.message {
    @include e('container') {
        display: flex;
        flex-direction: column;
        border-bottom: thin solid $ship-cove;
        @include mq('lg') {
            grid-area: message;
            padding: pem(16);
            border-right: thin solid $ship-cove;
        }
    }
    @include e('form') {
        display: flex;
        flex-direction: column;
        @include mq('lg') {
            margin-top: pem(16);
        }
    }

    @include e('input') {
        border: thin solid $link-water;
        border-radius: pem(6);
        background: $alabaster;
        margin: auto;
        display: block;
        width: 95%;
        padding: pem(8);
        margin-bottom: pem(8);
        @include mq('lg') {
            padding: pem(8);
            margin-bottom: pem(8);
        }
    }

    @include e('textarea') {
        border-radius: pem(6);
        border: thin solid $link-water;
        background: $alabaster;
        display: block;
        width: 95%;
        align-self: center;
        margin-top: pem(8);
        min-height: pem(124);
        @include mq('lg') {
            margin: auto;
            padding: pem(8);
            min-height: pem(124);
        }
    }

    @include e('submit') {
        width: 95%;
        border-radius: pem(6);
        font-weight: 700;
        color: $alabaster;
        background: $site-primary;
        border: none;
        outline: none;
        transition: all 0.1s ease-in-out;
        align-self: center;
        margin: pem(8) 0;
        padding: pem(8);
        @include mq('lg') {
            align-self: center;
            padding: pem(16);
        }
        &:active {
            background: $site-secondary;
        }
        &:hover {
            cursor: pointer;
        }
    }

    @include e('message') {
        display: flex;
        flex-direction: column;
        @include mq('lg') {
            border-right: thin solid $ship-cove;
        }
    }

    @include e('submit') {
        display: block;
        @include mq('lg') {
            margin-top: pem(16);
        }
    }

    @include e('success-message') {
        @include m('active') {
            border-radius: pem(6);
            background: rgb(109, 185, 109);
            color: $alabaster;
            font-weight: 700;
            align-self: center;
            margin-bottom: pem(8);
            padding: pem(8);
        }
    }

    @include e('text-error') {
        @include m('active') {
            border-radius: pem(6);
            background: rgb(212, 115, 115);
            color: $alabaster;
            font-weight: 700;
            align-self: center;
            padding: pem(8);
            margin: pem(8) 0;
        }
    }

    @include e('search-error') {
        @include m('active') {
            border-radius: pem(6);
            background: rgb(212, 115, 115);
            color: $alabaster;
            font-weight: 700;
            align-self: center;
            padding: pem(8);
            margin-bottom: pem(8);
        }
    }
}