.social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    @include mq('lg') {
        margin-top: pem(-16);
        margin-bottom: pem(44);
    }
    
    @include e('widgets') {
        display: flex;
        justify-content: space-around;
    }

    @include e('site') {
        width: 30%;
        display: flex;
        background: $link-water;
        border: thin solid $ship-cove;
        @include mq('lg') {
            padding: pem(20);
        }
    }

    @include e('container') {
        @include mq('lg') {
            margin-left: pem(16);
        }
        line-height: pem(8);
    }

    @include e('header') {
        @include mq('lg') {
            margin-top: pem(15);
        }
        color: $mulled-wine;
    }

    @include e('counter') {
        @include mq('lg') {
            font-weight: 0;
            font-size: pem(35);
        }
    }

    @include e('twitter') {
        fill: white;
        
        @include mq('lg') {
            margin-top: pem(2);
        }
    }

    @include e('facebook') {
        fill: white;
        @include mq('lg') {
            margin: pem(-3) 0;
        }
    }

    @include e('google') {
        fill: white;
        @include mq('lg') {
            margin: pem(-2) 0;
            margin-left: pem(2);
        }
    }

    @include e('span') {
        display: block;
        background: $mulled-wine;
        border-radius: 50%;
        height: 75px;
        @include mq('lg') {
            padding: pem(20);
        }
    }
}