.traffic {
    @include mq('sm') {
        display: flex;
        flex-direction: column;
    }
    @include mq('lg') {
        grid-area: traffic;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas : "main main" "daily mobile";
        padding: pem(20);
    }
    height: 50%;

    @include e('main') {
        grid-area: main;
    }

    @include e('menu') {
        display: flex;
        justify-content: space-between;
    }

    @include e('list') {
        display: flex;
        list-style: none;
        padding: 0;
        @include mq('sm') {
            width: 80%;
            justify-content: space-around;
            margin: pem(20) 0;
        }
        @include mq('lg') {
            justify-content: space-around;
        }
        
    }

    @include e('title') {
        @include mq('sm') {
            margin: pem(15) 0;
        }
    }

    @include e('option') {
        font-weight: 600;
        @include mq('sm') {
            padding: pem(3);
        }
        @include mq('lg') {
            padding: pem(8);
        }
        &:hover {
            cursor: pointer;
        }

        &:nth-child(2) {
            @include mq('lg') {
                margin: 0 pem(16);
            }
        }

        @include m('active') {
            font-weight: 600;
            background: #77B988;
            border-radius: 24px;
            color: white;
            @include mq('sm') {
                padding: pem(3);
            }
            @include mq('lg') {
                padding: pem(8);
            }
            &:hover {
                cursor: pointer;
            }

            &:nth-child(2) {
                @include mq('lg') {
                    margin: 0 pem(16);
                }
                
            }

            &:nth-child(3) {
                @include mq('lg') {
                    margin: 0 pem(16);
                }
            }
            
        }
    }

    @include e('daily') {
        grid-area: daily;
        border: thin solid black;
        border-bottom: none;
        border-left: none;
        border-bottom: thin solid black;
        border-right: none;
        @include mq('sm') {
            padding: pem(16) 0;
        }
        @include mq('lg') {
            padding: pem(20);
        }
    }
    @include e('mobile') {
        grid-area: mobile;
        border-bottom: thin solid black;
        @include mq('sm') {
            padding: pem(16) 0;
        }
        @include mq('lg') {
            padding: 0 pem(20);
            border: thin solid black;
            border-bottom: none;
            border-right: none;
        }
    }

    @include e('ranged') {
        @include m('small') {
            @include mq('lg') {
                display: none !important;
            }
        }

        @include m('large') {
            @include mq('sm') {
                display: none !important;
            }
        }
    }
}