@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic");
@import url("https://necolas.github.io/normalize.css/7.0.0/normalize.css");
@import url("https://goodies.pixabay.com/javascript/auto-complete/auto-complete.css");
* {
  box-sizing: border-box;
  font-family: 'Carrois Gothic', sans-serif; }

h3 {
  font-weight: 100;
  padding: 0.5em;
  color: #767676; }

a {
  text-decoration: none;
  color: #7377BF; }

@media (max-width: 767px) {
  .dashboard {
    display: flex;
    flex-direction: column; } }

@media (min-width: 768px) {
  .dashboard {
    display: grid;
    margin: 0;
    min-height: 100vh;
    grid-template-areas: "header header header" "nav main main";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 100px 1fr 1fr; } }

.header {
  grid-area: header; }

.nav {
  grid-area: nav; }

@media (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column; } }

@media (min-width: 768px) {
  .main {
    grid-area: main;
    display: grid;
    grid-template-areas: "search" "traffic" "social" "bottom"; } }

@media (max-width: 767px) {
  .bottom {
    display: flex;
    flex-direction: column; } }

@media (min-width: 768px) {
  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "new recent" "message settings"; } }

.header {
  background: #7377BF;
  color: #FBFBFB;
  display: flex; }
  @media (max-width: 767px) {
    .header {
      justify-content: space-between; } }
  @media (min-width: 768px) {
    .header {
      justify-content: space-between; } }
  .header__title {
    margin-top: 1em;
    padding-left: 0.5em; }
    @media (min-width: 768px) {
      .header__title {
        padding-left: 1em; } }
  @media (max-width: 767px) {
    .header__titlea {
      font-size: 1.25em; } }
  @media (min-width: 768px) {
    .header__titlea {
      font-size: 1.5625em; } }
  @media (max-width: 767px) {
    .header__titleb {
      font-size: 1.25em;
      font-weight: 700; } }
  @media (min-width: 768px) {
    .header__titleb {
      font-size: 1.5625em;
      font-weight: 700; } }
  .header__user {
    display: flex; }
    @media (max-width: 767px) {
      .header__user {
        margin: 0.875em 0.5em;
        font-size: 0.875em; } }
    @media (min-width: 768px) {
      .header__user {
        margin: 0.875em 0.5em;
        font-size: 0.9375em; } }
  .header__notification-div {
    display: flex; }
    @media (min-width: 768px) {
      .header__notification-div {
        border-right: 0.0625em solid #4D4B72;
        padding-right: 1em; } }
  .header__user-info-div {
    display: flex; }
    @media (max-width: 767px) {
      .header__user-info-div {
        justify-content: space-between; } }
    @media (min-width: 768px) {
      .header__user-info-div {
        padding-left: 1em; } }
  .header__profile-img {
    border-radius: 50%;
    margin: auto; }
    @media (max-width: 767px) {
      .header__profile-img {
        padding: 0 0.5em;
        width: auto;
        height: 1.5625em; } }
    @media (min-width: 768px) {
      .header__profile-img {
        padding: 0 0.5em;
        width: auto;
        height: 1.875em; } }
  .header__name {
    margin: auto; }

.nav {
  background: #4D4B72;
  color: #FBFBFB; }
  .nav__list {
    padding: 0; }
    @media (max-width: 767px) {
      .nav__list {
        display: flex;
        justify-content: space-around; } }
  .nav__item {
    list-style: none; }
    @media (max-width: 767px) {
      .nav__item {
        margin: 1em; } }
    @media (min-width: 768px) {
      .nav__item {
        margin: 2em; } }
  .nav__dashboard {
    width: auto; }
    @media (max-width: 767px) {
      .nav__dashboard {
        height: 1.25em; } }
    @media (min-width: 768px) {
      .nav__dashboard {
        height: 2.1875em; } }
  .nav__members {
    width: auto; }
    @media (max-width: 767px) {
      .nav__members {
        height: 1.25em; } }
    @media (min-width: 768px) {
      .nav__members {
        height: 2.1875em; } }
  .nav__visits {
    width: auto; }
    @media (max-width: 767px) {
      .nav__visits {
        height: 1.25em; } }
    @media (min-width: 768px) {
      .nav__visits {
        height: 2.1875em; } }
  .nav__settings {
    width: auto; }
    @media (max-width: 767px) {
      .nav__settings {
        height: 1.25em; } }
    @media (min-width: 768px) {
      .nav__settings {
        height: 2.1875em; } }

.search {
  grid-area: search; }
  .search__header {
    display: flex;
    justify-content: space-between;
    background: #E2E3F6; }
    @media (max-width: 767px) {
      .search__header {
        margin-bottom: 0.5em; } }
  .search__title {
    background: white;
    padding: 1em 0.375em 1em 0.625em; }
    @media (max-width: 767px) {
      .search__title {
        padding-right: 1em;
        border-right: thin solid #4D4B72; } }
    @media (min-width: 768px) {
      .search__title {
        padding: 1em; } }
  .search__search {
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 767px) {
      .search__search {
        width: 95%;
        border-bottom: 0.0625em solid #4D4B72; } }
    @media (min-width: 768px) {
      .search__search {
        width: 95%;
        padding: 1em;
        border-bottom: 0.0625em solid #4D4B72;
        border-left: 0.0625em solid #4D4B72; } }
  .search__searchbar {
    padding: 0.375em; }
    @media (max-width: 767px) {
      .search__searchbar {
        border-left: 0.0625em solid #4D4B72; } }
  .search__alert {
    display: flex;
    justify-content: space-between;
    background: #7377BF;
    color: #FBFBFB;
    border-radius: 0.375em; }
    @media (max-width: 767px) {
      .search__alert {
        font-size: 0.8125em;
        padding: 0.5em; } }
    @media (min-width: 768px) {
      .search__alert {
        margin: 1em;
        padding: 1em; } }
    .search__alert span {
      margin: 0 0.5em; }

.icon--close:hover {
  cursor: pointer; }

.icon--close::after {
  content: attr(icon);
  font-weight: 800;
  color: white;
  justify-self: flex-end; }

.icon--search {
  position: relative;
  color: black;
  height: 15px;
  fill: black;
  top: 9px;
  left: 175px; }
  @supports (-webkit-appearance: none) {
    .icon--search {
      top: 15px;
      left: 200px; } }
  @supports (-ms-ime-align: auto) {
    .icon--search {
      top: 10px;
      left: 185px; } }

.icon--notifications {
  margin: 0.375em auto; }
  .icon--notifications:hover {
    cursor: pointer; }
  @media (max-width: 767px) {
    .icon--notifications {
      width: auto;
      height: 1.125em; } }
  @media (min-width: 768px) {
    .icon--notifications {
      width: auto;
      height: 1.25em; } }

.icon--new-notifications {
  margin: 0.375em auto; }
  .icon--new-notifications:hover {
    cursor: pointer; }
  @media (max-width: 767px) {
    .icon--new-notifications {
      width: auto;
      height: 1.125em; } }
  @media (min-width: 768px) {
    .icon--new-notifications {
      width: auto;
      height: 1.25em; } }

.notification {
  position: relative; }
  .notification__signal {
    top: -10%;
    right: -40%;
    position: absolute;
    fill: #77B988; }
    .notification__signal:hover {
      cursor: pointer; }

.traffic {
  border-bottom: thin solid #7377BF; }
  @media (max-width: 767px) {
    .traffic {
      display: flex;
      flex-direction: column; } }
  @media (min-width: 768px) {
    .traffic {
      grid-area: traffic;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "main main" "daily mobile"; } }
  .traffic__main {
    grid-area: main; }
    @media (max-width: 767px) {
      .traffic__main {
        margin-bottom: 1em; } }
  .traffic__menu {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .traffic__menu {
        flex-direction: column; } }
  .traffic__list {
    display: flex;
    list-style: none;
    padding-right: 0.5em; }
    @media (max-width: 767px) {
      .traffic__list {
        width: 80%;
        align-self: center;
        justify-content: space-around;
        margin: 1.25em 0; } }
    @media (min-width: 768px) {
      .traffic__list {
        align-self: center;
        justify-content: space-around;
        margin: 1.25em 0; } }
  @media (max-width: 767px) {
    .traffic__title {
      margin: 0 0 0.5em 0; } }
  .traffic__option {
    font-weight: 600;
    padding: 0.5em; }
    .traffic__option:hover {
      cursor: pointer; }
    .traffic__option--active {
      font-weight: 600;
      background: #77B988;
      border-radius: 24px;
      color: white;
      padding: 0.5em; }
      .traffic__option--active:hover {
        cursor: pointer; }
  .traffic__daily {
    grid-area: daily; }
    @media (max-width: 767px) {
      .traffic__daily {
        border-bottom: thin solid #7377BF;
        padding: 1em 0; } }
  .traffic__mobile {
    grid-area: mobile; }
    @media (max-width: 767px) {
      .traffic__mobile {
        padding: 1em 0; } }
    @media (min-width: 768px) {
      .traffic__mobile {
        padding: 0 1.25em;
        border-left: thin solid #7377BF; } }
  .traffic__ranged--small {
    border-bottom: thin solid #7377BF;
    padding-bottom: 1em; }
    @media (min-width: 768px) {
      .traffic__ranged--small {
        display: none !important; } }
  .traffic__ranged--large {
    border-bottom: thin solid #7377BF;
    padding-bottom: 1em; }
    @media (max-width: 767px) {
      .traffic__ranged--large {
        display: none !important; } }

.social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  padding-top: 1em; }
  @media (max-width: 767px) {
    .social {
      border-bottom: thin solid #7377BF;
      padding-bottom: 2em; } }
  @media (min-width: 768px) {
    .social {
      margin-top: -1em;
      margin-bottom: 2.75em; } }
  .social__widgets {
    display: flex;
    justify-content: space-around; }
  .social__site {
    width: 30%;
    display: flex;
    background: #E2E3F6;
    border: thin solid #7377BF; }
    @media (max-width: 767px) {
      .social__site {
        padding: 0.5em;
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 768px) {
      .social__site {
        padding: 1.25em; } }
  .social__container {
    line-height: 0.5em; }
    @media (min-width: 768px) {
      .social__container {
        margin-left: 1em; } }
  .social__header {
    color: #4D4B72; }
    @media (max-width: 767px) {
      .social__header {
        display: none; } }
    @media (min-width: 768px) {
      .social__header {
        margin-top: 0.9375em; } }
  @media (max-width: 767px) {
    .social__counter {
      display: inline-block;
      margin: 0.5em 0;
      font-weight: 700; } }
  @media (min-width: 768px) {
    .social__counter {
      font-weight: 0;
      font-size: 2.1875em; } }
  .social__twitter {
    fill: white; }
    @media (max-width: 767px) {
      .social__twitter {
        margin: auto;
        margin-top: 0.125em;
        height: 30px; } }
    @media (min-width: 768px) {
      .social__twitter {
        margin-top: 0.125em; } }
  .social__facebook {
    fill: white; }
    @media (max-width: 767px) {
      .social__facebook {
        margin: -0.1875em 0;
        height: 30px; } }
    @media (min-width: 768px) {
      .social__facebook {
        margin: -0.1875em 0; } }
  .social__google {
    fill: white; }
    @media (max-width: 767px) {
      .social__google {
        margin: -0.125em 0;
        margin-left: 0.125em;
        height: 30px; } }
    @media (min-width: 768px) {
      .social__google {
        margin: -0.125em 0;
        margin-left: 0.125em; } }
  .social__span {
    display: block;
    background: #4D4B72;
    border-radius: 50%; }
    @media (max-width: 767px) {
      .social__span {
        height: 50px;
        padding: 0.625em; } }
    @media (min-width: 768px) {
      .social__span {
        height: 75px;
        padding: 1.25em; } }

@media (max-width: 767px) {
  .members__new {
    border-bottom: thin solid #7377BF; } }

@media (min-width: 768px) {
  .members__new {
    border-top: thin solid #7377BF;
    border-bottom: thin solid #7377BF;
    border-right: thin solid #7377BF;
    grid-area: new; } }

@media (max-width: 767px) {
  .members__recent {
    border-bottom: thin solid #7377BF; } }

@media (min-width: 768px) {
  .members__recent {
    border-top: thin solid #7377BF;
    border-bottom: thin solid #7377BF;
    grid-area: recent; } }

.members__message {
  display: flex;
  flex-direction: column; }
  @media (max-width: 767px) {
    .members__message {
      border-bottom: thin solid #7377BF; } }
  @media (min-width: 768px) {
    .members__message {
      grid-area: message;
      padding: 1em; } }

.members__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0; }

.members__item {
  align-self: center;
  width: 95%;
  display: flex;
  font-size: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: thin solid #7377BF; }
  .members__item:last-child {
    border: none; }

.members__container {
  display: flex; }

.members__details {
  display: flex;
  flex-direction: column;
  width: 75%; }

.members__update {
  display: flex;
  flex-direction: column; }

.members__avy {
  border-radius: 50%; }
  @media (max-width: 767px) {
    .members__avy {
      width: auto;
      height: 2.8125em;
      margin-right: 0.5em; } }
  @media (min-width: 768px) {
    .members__avy {
      margin-right: 0.5em; } }

.members__date {
  align-self: flex-end; }

.members__form {
  display: flex;
  flex-direction: column; }

.members__input {
  border: thin solid #E2E3F6;
  border-radius: 0.375em;
  background: #FBFBFB;
  margin: auto;
  display: block;
  width: 95%; }
  @media (max-width: 767px) {
    .members__input {
      padding: 0.5em;
      margin-bottom: 0.5em; } }
  @media (min-width: 768px) {
    .members__input {
      padding: 0.5em;
      margin-bottom: 0.5em; } }

.members__textarea {
  border-radius: 0.375em;
  border: thin solid #E2E3F6;
  background: #FBFBFB;
  display: block;
  width: 95%; }
  @media (max-width: 767px) {
    .members__textarea {
      align-self: center;
      margin-top: 0.5em;
      min-height: 7.75em; } }
  @media (min-width: 768px) {
    .members__textarea {
      margin: auto;
      padding: 0.5em;
      min-height: 7.75em; } }

.members__submit {
  width: 95%;
  border-radius: 0.375em;
  font-weight: 700;
  color: #FBFBFB;
  background: #4D4B72;
  border: none;
  outline: none;
  transition: all .1s ease-in-out; }
  @media (max-width: 767px) {
    .members__submit {
      align-self: center;
      margin: 0.5em 0;
      padding: 0.5em; } }
  @media (min-width: 768px) {
    .members__submit {
      align-self: center;
      padding: 1em; } }
  .members__submit:active {
    background: #7377BF; }
  .members__submit:hover {
    cursor: pointer; }

.members__message {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .members__message {
      border-right: thin solid #7377BF; } }

.members__submit {
  display: block; }
  @media (min-width: 768px) {
    .members__submit {
      margin-top: 1em; } }

.members__success-message--active {
  border-radius: 0.375em;
  background: #6db96d;
  color: #FBFBFB;
  font-weight: 700;
  align-self: center;
  margin-bottom: 0.5em;
  padding: 0.5em; }

.members__text-error--active {
  border-radius: 0.375em;
  background: #d47373;
  color: #FBFBFB;
  font-weight: 700;
  align-self: center;
  padding: 0.5em;
  margin: 0.5em 0; }

.members__search-error--active {
  border-radius: 0.375em;
  background: #d47373;
  color: #FBFBFB;
  font-weight: 700;
  align-self: center;
  padding: 0.5em;
  margin-bottom: 0.5em; }

.settings {
  display: flex;
  flex-direction: column; }
  @media (max-width: 767px) {
    .settings {
      padding: 0.5em; } }
  @media (min-width: 768px) {
    .settings {
      grid-area: settings;
      padding: 1em;
      min-height: 100%; } }
  .settings__list {
    list-style: none;
    padding: 0; }
  .settings__item {
    display: flex;
    justify-content: space-between; }
  .settings__switch-label {
    position: relative;
    display: inline-block; }
    @media (max-width: 767px) {
      .settings__switch-label {
        width: 60px;
        height: 34px;
        margin-right: 3.125em;
        margin-bottom: 1em; } }
    @media (min-width: 768px) {
      .settings__switch-label {
        width: 90px;
        height: 34px;
        margin-right: 3.75em;
        margin-bottom: 1em; } }
    .settings__switch-label input {
      display: none; }
  .settings__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7377BF;
    -webkit-transition: .4s;
    transition: .4s; }
    @media (max-width: 767px) {
      .settings__slider {
        border-radius: 34px; } }
    @media (min-width: 768px) {
      .settings__slider {
        border-radius: 34px; } }
    .settings__slider:before {
      position: absolute;
      content: "";
      background-color: #E2E3F6;
      -webkit-transition: .4s;
      transition: .4s; }
      @media (max-width: 767px) {
        .settings__slider:before {
          border-radius: 34px;
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px; } }
      @media (min-width: 768px) {
        .settings__slider:before {
          border-radius: 34px;
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px; } }
    .settings__slider:after {
      content: 'OFF';
      color: white;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%; }
      @media (max-width: 767px) {
        .settings__slider:after {
          transform: translate(20%, -50%);
          font-size: 10px; } }
      @media (min-width: 768px) {
        .settings__slider:after {
          transform: translate(-50%, -50%);
          font-size: 10px; } }
  @media (max-width: 767px) {
    .settings__switch:checked + .settings__slider {
      background-color: #4D4B72; }
      .settings__switch:checked + .settings__slider:after {
        content: 'ON';
        font-weight: 700;
        transform: translate(-150%, -50%); } }
  @media (min-width: 768px) {
    .settings__switch:checked + .settings__slider {
      background-color: #4D4B72; }
      .settings__switch:checked + .settings__slider:after {
        content: 'ON';
        font-weight: 700;
        transform: translate(-200%, -50%); } }
  @media (max-width: 767px) {
    .settings__switch:focus + .settings__slider {
      box-shadow: 0 0 1px #4D4B72; } }
  @media (min-width: 768px) {
    .settings__switch:focus + .settings__slider {
      box-shadow: 0 0 1px #4D4B72; } }
  @media (max-width: 767px) {
    .settings__switch:checked + .settings__slider:before {
      -webkit-transform: translateX(1.4375em);
      -ms-transform: translateX(1.4375em);
      transform: translateX(1.4375em); } }
  @media (min-width: 768px) {
    .settings__switch:checked + .settings__slider:before {
      -webkit-transform: translateX(3.4375em);
      -ms-transform: translateX(3.4375em);
      transform: translateX(3.4375em); } }
  .settings__time {
    outline: none;
    border: thin solid #E2E3F6;
    border-radius: 0.375em;
    padding: 0.5em;
    background: #FBFBFB;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* remove default arrow */
    background: url("../../icons/down.svg") no-repeat right; }
    @media (max-width: 767px) {
      .settings__time {
        align-self: center;
        margin-bottom: 1em;
        width: 90%; } }
  .settings__zone {
    background: #FBFBFB; }
  .settings__btn-group {
    display: flex; }
  .settings__btn {
    width: 45%;
    font-weight: 700;
    border-radius: 0.375em;
    color: #FBFBFB;
    background: #4D4B72;
    border: none;
    outline: none;
    transition: all .1s ease-in-out; }
    @media (max-width: 767px) {
      .settings__btn {
        align-self: center;
        margin-top: 0.5em;
        padding: 0.5em; } }
    @media (min-width: 768px) {
      .settings__btn {
        padding: 1em;
        margin-top: 1em; } }
    .settings__btn:active {
      background: #7377BF; }
    .settings__btn:hover {
      cursor: pointer; }
    .settings__btn:first-child {
      margin-right: auto; }
    .settings__btn:last-child {
      margin-left: auto;
      color: #4D4B72;
      background: #E2E3F6; }

.dropdown {
  display: inline-block;
  position: relative; }
  .dropdown__content {
    display: none;
    visibility: hidden;
    opacity: 0; }
    .dropdown__content--active {
      position: absolute;
      top: 80%;
      left: -800%;
      display: flex;
      flex-direction: column;
      visibility: visible;
      opacity: 1;
      display: inline-block;
      color: black;
      background: white;
      border-radius: 0.375em;
      border: thin solid #4D4B72;
      z-index: 1000;
      padding: 0.375em; }
      @media (min-width: 768px) {
        .dropdown__content--active {
          padding: 0.375em;
          width: 18.75em; } }
  .dropdown__item {
    display: block;
    border-bottom: thin solid black; }
    @media (min-width: 768px) {
      .dropdown__item {
        padding: 0.3125em 0;
        font-size: 0.8125em; } }
    .dropdown__item:last-child {
      border: none; }
    .dropdown__item:hover {
      cursor: pointer;
      color: white;
      background: #7377BF; }

/*# sourceMappingURL=styles/css/styles.css.map */
