@import url("normalize.css");
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.dashboard {
  display: grid;
  margin: 0;
  min-height: 100vh; }
  @media (max-width: 767px) {
    .dashboard {
      grid-template-areas: "header header" "nav main";
      grid-template-rows: 45px 1fr;
      grid-template-columns: 60px 1fr; } }
  @media (min-width: 768px) {
    .dashboard {
      grid-template-areas: "header header header" "nav main main";
      grid-template-rows: 60px 1fr;
      grid-template-columns: 100px 1fr 1fr; } }

.header {
  grid-area: header; }

.nav {
  grid-area: nav; }

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 115px 1fr 0.25fr 1fr;
  grid-template-areas: "top" "traffic" "social" "bottom"; }

.header {
  background: #7477BF;
  display: flex;
  justify-content: space-between;
  color: #FBFBFB; }
  @media (max-width: 767px) {
    .header__title {
      padding-left: 0.5em;
      font-size: 0.875em; } }
  @media (min-width: 768px) {
    .header__title {
      padding-left: 1em; } }
  .header__user {
    display: flex; }
    @media (max-width: 767px) {
      .header__user {
        margin: 0.875em 0.5em;
        font-size: 0.875em; } }
    @media (min-width: 768px) {
      .header__user {
        margin: 0.875em 0.5em;
        font-size: 0.9375em; } }
  .header__notification-div {
    border-right: 0.0625em solid #4D4B72;
    padding-right: 1em;
    display: flex; }
  .header__notifications {
    margin: auto; }
    @media (max-width: 767px) {
      .header__notifications {
        width: auto;
        height: 1.125em; } }
    @media (min-width: 768px) {
      .header__notifications {
        width: auto;
        height: 1.25em; } }
  .header__user-info-div {
    display: flex;
    padding-left: 1em; }
  .header__profile-img {
    border-radius: 50%;
    margin: auto; }
    @media (max-width: 767px) {
      .header__profile-img {
        padding: 0 0.5em;
        width: auto;
        height: 1.5625em; } }
    @media (min-width: 768px) {
      .header__profile-img {
        padding: 0 0.5em;
        width: auto;
        height: 1.875em; } }
  .header__name {
    margin: auto; }

.nav {
  background: #4D4B72;
  color: #FBFBFB; }
  .nav__list {
    padding: 0; }
  .nav__item {
    list-style: none;
    list-style: none;
    margin: 2em; }
    @media (max-width: 767px) {
      .nav__item {
        margin: 1em; } }
  .nav__dashboard {
    width: auto;
    height: 2.1875em; }
    @media (max-width: 767px) {
      .nav__dashboard {
        width: auto;
        height: 1.25em; } }
  .nav__members {
    width: auto;
    height: 2.1875em; }
    @media (max-width: 767px) {
      .nav__members {
        width: auto;
        height: 1.25em; } }
  .nav__visits {
    width: auto;
    height: 2.1875em; }
    @media (max-width: 767px) {
      .nav__visits {
        width: auto;
        height: 1.25em; } }
  .nav__settings {
    width: auto;
    height: 2.1875em; }
    @media (max-width: 767px) {
      .nav__settings {
        width: auto;
        height: 1.25em; } }

.top {
  grid-area: top; }
  .top__header {
    display: flex;
    background: #E2E3F6; }
  .top__title {
    background: #FBFBFB;
    padding: 1em; }
  .top__search {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    border-bottom: 0.0625em solid #4D4B72;
    border-left: 0.0625em solid #4D4B72;
    width: 95%; }
  .top__searchbar {
    padding: 0.375em; }
  .top__alert {
    display: flex;
    justify-content: space-between;
    background: #7477BF;
    color: #FBFBFB;
    border-radius: 0.375em;
    margin: 1em;
    padding: 1em; }
    .top__alert span {
      margin: 0 0.5em; }

.icon--close::after {
  content: attr(icon);
  font-weight: 800;
  color: white;
  justify-self: flex-end; }
.icon--search {
  position: relative;
  top: 10px;
  left: 195px;
  color: black;
  height: 15px;
  fill: black; }

.traffic {
  grid-area: traffic;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main main" "daily mobile";
  padding: 1.25em;
  height: 50%; }
  .traffic__main {
    grid-area: main; }
  .traffic__menu {
    display: flex;
    justify-content: space-between; }
  .traffic__config {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0; }
  .traffic__option {
    font-weight: 600;
    padding: 0.5em; }
    .traffic__option:nth-child(2) {
      margin: 0 1em; }
    .traffic__option--active {
      font-weight: 600;
      background: #77B988;
      padding: 0.5em;
      border-radius: 24px;
      color: white; }
      .traffic__option--active:nth-child(2) {
        margin: 0 1em; }
      .traffic__option--active:nth-child(3) {
        margin: 0 1em; }
  .traffic__daily {
    grid-area: daily;
    border: thin solid black;
    border-bottom: none;
    border-left: none;
    border-bottom: thin solid black;
    border-right: none;
    padding: 1.25em; }
  .traffic__mobile {
    grid-area: mobile;
    border: thin solid black;
    border-bottom: none;
    border-right: none;
    border-bottom: thin solid black;
    padding: 0 1.25em; }

.social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  height: 50%; }
  .social__widgets {
    display: flex;
    justify-content: space-around; }
  .social__site {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    padding: 1.25em;
    background: #E2E3F6;
    border: thin solid #7477BF; }
  .social__container {
    margin-left: 1em;
    line-height: 0.5em; }
  .social__header {
    margin-top: 0.9375em;
    color: #4D4B72; }
  .social__counter {
    font-weight: 0;
    font-size: 2.1875em; }
  .social__twitter {
    fill: white;
    margin-top: 0.125em; }
  .social__facebook {
    fill: white;
    margin: -0.1875em 0; }
  .social__google {
    fill: white;
    margin: -0.125em 0;
    margin-left: 0.125em; }
  .social__span {
    display: block;
    padding: 1.25em;
    background: #4D4B72;
    border-radius: 50%;
    height: 75px; }

.bottom {
  display: grid;
  grid-template-areas: "new recent" "message settings";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }

.members__new {
  grid-area: 'new'; }
.members__recent {
  grid-area: recent; }
.members__message {
  grid-area: message; }
.members__list {
  list-style: none;
  padding: 0;
  margin-left: 0.5em; }
.members__item {
  display: flex;
  margin-bottom: 1em; }
.members__container {
  display: flex; }
.members__details {
  display: flex;
  flex-direction: column;
  width: 75%; }
.members__update {
  display: flex;
  flex-direction: column; }
.members__avy {
  border-radius: 50%;
  margin-right: 0.5em; }
.members__date {
  align-self: flex-end; }

.settings {
  grid-area: settings; }

/*# sourceMappingURL=styles.css.map */
